################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Back/MinhaAgendaMinhaVida/.vs/MinhaAgendaMinhaVida
/Back/MinhaAgendaMinhaVida/MinhaAgendaMinhaVida.Api/bin/Debug/net5.0
/Back/MinhaAgendaMinhaVida/MinhaAgendaMinhaVida.Api/obj
/Back/MinhaAgendaMinhaVida/MinhaAgendaMinhaVida.CrossCutting/bin/Debug/net5.0
/Back/MinhaAgendaMinhaVida/MinhaAgendaMinhaVida.CrossCutting/obj
/Back/MinhaAgendaMinhaVida/MinhaAgendaMinhaVida.Domain/bin/Debug/net5.0
/Back/MinhaAgendaMinhaVida/MinhaAgendaMinhaVida.Domain/obj
/Back/MinhaAgendaMinhaVida/MinhaAgendaMinhaVida.Infra/bin/Debug/net5.0
/Back/MinhaAgendaMinhaVida/MinhaAgendaMinhaVida.Infra/obj
/Back/MinhaAgendaMinhaVida/MinhaAgendaMinhaVida.IoC/bin/Debug/net5.0
/Back/MinhaAgendaMinhaVida/MinhaAgendaMinhaVida.IoC/obj
/Back/MinhaAgendaMinhaVida/MinhaAgendaMinhaVida.Service/bin/Debug/net5.0
/Back/MinhaAgendaMinhaVida/MinhaAgendaMinhaVida.Service/obj
/Back/MinhaAgendaMinhaVida/MinhaAgendaMinhaVida.Test/bin/Debug/net5.0
/Back/MinhaAgendaMinhaVida/MinhaAgendaMinhaVida.Test/obj
/MinhaAgendaMinhaVida.Api/bin/Debug/net5.0
/MinhaAgendaMinhaVida.Api/obj
/MinhaAgendaMinhaVida.CrossCutting/bin/Debug/net5.0
/MinhaAgendaMinhaVida.CrossCutting/obj
/MinhaAgendaMinhaVida.Domain/bin/Debug/net5.0
/MinhaAgendaMinhaVida.Domain/obj
/MinhaAgendaMinhaVida.Infra/bin/Debug/net5.0
/MinhaAgendaMinhaVida.Infra/obj
/MinhaAgendaMinhaVida.IoC/bin/Debug/net5.0
/MinhaAgendaMinhaVida.IoC/obj
/MinhaAgendaMinhaVida.Service/bin/Debug/net5.0
/MinhaAgendaMinhaVida.Service/obj
/MinhaAgendaMinhaVida.Test/bin
/MinhaAgendaMinhaVida.Test/obj
