@using Microsoft.AspNetCore.Identity
@using Agenda.Areas.Identity.Data

@inject SignInManager<AgendaUser> SignInManager
@inject UserManager<AgendaUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" title="Manage">Olá @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-danger"><b>Logout</b></button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a style="color: #188a74;" class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register"><b>Registre-se</b></a>
    </li>
    <li class="nav-item">
        <a style="color: #188a74;" class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login"><b>Login</b></a>
    </li>
}
</ul>
