@using Microsoft.AspNetCore.Identity
@using Agenda.Areas.Identity.Data

@inject SignInManager<AgendaUser> SignInManager
@inject UserManager<AgendaUser> UserManager

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
@{
    ViewData["Title"] = "Home Page";
}
@*
    <div class="text-center">
    <h1 class="display-4">Seja Bem-vindo!</h1>
    <p>Faça seu login ou registre-se.</p>
    </div>
*@
<div class="bg-dark" style="margin-top:-25px">
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Minha Agenda Minha Vida</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Desafio proposto pela Sorte Online.</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-lg px-4 me-sm-3" style="background-color:#188a74;color:white" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            <a class="btn btn-outline-light btn-lg px-4" asp-area="Identity" asp-page="/Account/Register">Registre-se</a>
                        </div>
                    </div>
                </div>
                @*<div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://img.freepik.com/free-vector/tuesday-7th-flat-concept-calendar-with-lucky-tickets-fortune-talismans-2d-cartoon-composition-web-design-superstitious-belief-lucky-day-creative-idea-good-luck-symbols_151150-4032.jpg?w=2000" alt="..." /></div>*@
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                    <i class="bi bi-calendar-check" style="font-size: 10rem; color: #188a74;"></i>
                </div>
            </div>
        </div>
    </header>
</div>
