@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h5>Welcome!</h5>
<div class="row">
 <div class="col-sm-3 text-center" style="margin-top:20px;">
        <div class="card border-success">
            <div class="card-body">
                 <a style="color:black" asp-controller="TaskItem" asp-action="Index">
                      <p>
                    <i style="color:#145F03" class="far fa-calendar-alt fa-2x" ></i>
                </p>
                <h5 class="card-title">Task Item</h5>
                              </a>
            </div>
        </div>
    </div>
    </div>