@model Agenda

@{
    ViewData["Title"] = "Agenda";
}


<div class="container">
    <div class="text-center">
        <h3> @Model.Description - @Model.ScheduleDate?.ToShortDateString()</h3>
    </div>
    <div class="row">
        <div class="col-md-9">
            <label>Descrição:</label>
            @Html.TextArea("LongDescription", Model.LongDescription, new { @disabled="disabled", @class = "form-control sl9"})
        </div>
        <div class="col-md-3">
            <label>Data:</label>
            @Html.TextBox("Data", Model.ScheduleDate?.ToShortDateString(), new { @disabled="disabled", @class = "form-control sl6"})
        </div>
    </div>
    </br>
    <div style="text-align:right">
        <a type="button" class="btn btn-outline-secondary" href=@Url.ActionLink("Index", "Agenda")>Voltar</a>
    </div>
    
</div>
<style>
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 40%;
        width: 40%;
    }

</style>






