@page
@model MinhaAgendaWebApp.Pages.Account.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Minha Agenda - LOGIN";
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";

}



<div>
    <br />
    <img src="~/img/Login.png" style="width:50%">
</div>
<br />


<form method="post">
    <div>
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger" role="alert" style="text-align:center">
                @TempData["error"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="input-group-prepend">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input asp-for="Login.Email" class="form-control" placeholder="Usuario" required="">
    </div>
    <span asp-validation-for="Login.Email" class="text-danger"></span>
    <br />
    <div class="input-group-prepend">
        <span class="input-group-addon "><i class="fa fa-lock"></i></span>
        <input  type="password" asp-for="Login.Password" class="form-control" placeholder="Senha" required="">
    </div>
    <span asp-validation-for="Login.Password" class="text-danger"></span>
    <br />
    <button input type="submit" class="btn btn-success block full-width m-b">Acessar</button>

    <br />
    <p class="text-muted text-center"><small>Clique no botao Criar Conta para criar uma nova conta</small></p>
    <a class="btn btn-sm btn-white btn-block" asp-page="/Account/Registre">Criar Conta</a>
</form>
