/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
body {
    font-family: sans-serif;
}

.fab {
position: fixed;
bottom: 10px;
right: 10px;
}

.fab button {
cursor: pointer;
width: 48px;
height: 48px;
border-radius: 30px;
background-color: #cb60b3;
border: none;
box-shadow: 0 1px 5px rgba(0,0,0,.4);
font-size: 24px;
color: white;
-webkit-transition: .2s ease-out;
-moz-transition: .2s ease-out;
transition: .2s ease-out;
}

.fab button:focus {
    outline: none;
}

.fab button.main {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #244a1e;
    right: 0;
    bottom: 0;
    z-index: 20;
}

    .fab button.main:focus {
        outline: none;
        background-color: #244a1e;
        box-shadow: 0 3px 8px rgba(0,0,0,.5);
    }


.fab button.main:active + ul,
.fab button.main:focus + ul {
    bottom: 70px;
}

    .fab button.main:active + ul li,
    .fab button.main:focus + ul li {
        margin-bottom: 10px;
        opacity: 1;
    }

        .fab button.main:active + ul li:hover label,
        .fab button.main:focus + ul li:hover label {
            opacity: 1;
        }