@model MinhaAgendaWebApp.Pages.LoginModel

<div>
    <div>
        <br />
        <img src="~/img/icon-campelo.png" style="width:50%">
    </div>
    <br />

    <form id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

   

        <button type="submit" class="btn btn-campelo block full-width m-b">Acessar</button>

        <a id="forgot-password" asp-page="./ForgotPassword"><small>Recuperar Senha</small></a>
        <br />
       
    </form>
    <p class="m-t"> <small>Desenvolvido por HMA Solucoes Tecnologicas &copy; @DateTime.Now.Year </small> </p>
</div>